# Files and folders that are being ignored should show up as gray in your directory on the left side of the screen
# Python-related & development files
*.pyc
*.pyo
*.pyd
*.env
*__pycache__/
*utils/
.vscode/
.venv/
